.account-center-header {
    padding: 20px 50px 24px;
    display: flex;
    margin-bottom: 20px;
}
.container {
    background-color: #fff;
    border-radius: 4px;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.account-center-header__avatar {
    margin-right: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.avatar__xxl {
    width: 120px;
    height: 120px;
}
.avatar {
    display: inline-block;
    position: relative;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    vertical-align: top;
}
.account-center-user {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
}
div {
    display: block;
}
.account-center-user__header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.account-center-user__name {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
}
.account-center-user__level.img-icon {
    margin-left: 10px;
    height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.account-center-user__level--self {
    cursor: pointer;
}
.img-icon {
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}
img {
    border-style: none;
}
.account-center-header__buttons {
    display: flex;
}
.button.button-md.button-outlined {
    line-height: 32px;
}
.button.button-md {
    width: 86px;
    height: 34px;
    line-height: 34px;
}
.button {
    display: inline-block;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.button-outlined .button__button {
    background-color: #fff;
    color: #00b2ff;
    border: 1px solid #00c3ff;
    border-radius: 4px;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: border-color,color;
    -o-transition-property: border-color,color;
    transition-property: border-color,color;
}
.button__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    font-size: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: inherit;
    line-height: inherit;
}
input, button, textarea {
    color: inherit;
    font: inherit;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}ã€
a {
    text-decoration: none;
}
.account-center-user__certification, .account-center-user__intro {
    display: flex;
    margin-top: 12px;
    color: #666;
    line-height: 18px;
}
.symbol-icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}
.account-center-header__data {
    display: flex;
    padding-top: 19px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 20px;
    border-top: 1px solid #f0f0f0;
}
.account-center-header__data-item {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 40px;
}
.account-center-header__data-link {
    cursor: pointer;
}
.account-center-header__data-num {
    color: #333;
    font-size: 20px;
}
.account-center-header__data-label {
    margin-left: 10px;
    color: #ccc;
}

.account-center-user__level.img-icon {
    margin-left: 0px;
    height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: fit-content;
}

body > div > div > div > main > div.container.account-center-header > div.account-center-user > div.account-center-user__header > div.account-center-header__buttons > div > a{
    text-decoration: none;
}

.account-center-header__data {
    padding-top: 0!important; 
    margin-top: 0!important; 
    border-top:none!important;
}

.reds-sticky-box{
    display: block;
}

.reds-tabs-list{
    justify-content: center;
}

.user-page-sticky .reds-sticky {
    padding: 16px 0;
}


.reds-tabs-list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    font-size: 16px;
}

.reds-tabs-list>.reds-tab-item.active {
    font-weight: 600;
    color: #333;
}

.reds-tabs-list>.reds-tab-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    color: rgba(51,51,51,0.8);
    white-space: nowrap;
    transition: transform .3s cubic-bezier(.2,0,.25,1);
    z-index: 1;
}


